*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: gray;
  --headerHeight: 70px;
  --primaryColor: white;
  --secondaryColor: black;
  --headerBackground: rgb(61, 169, 211);
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
