.marksFilter {
    width: 100%;
    height: 70px;
    /* background-color: skyblue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 8px solid red; */
    border-radius: 20px;
}

.studentMarksMainContainer {
    width: calc(100vw - 300px);
    height: calc(100vh - 80px);
    overflow: auto;
}

.positionFixed {
    width: 100%;
    /* height: calc(100vh - 80px); */
    /* background-color: white;  */
}

.studentMarksHeading {
    font-size: 4rem;
    text-align: center;
    /* border: 2px solid brown; */
    padding: 10px;
    color: purple;
    text-shadow: 2px 2px 5px rgb(62, 61, 61);
}

.marksFilter div {
    font-size: 1.5rem;
}

.marksFilter select {
    text-align: center;
    font-size: 1.5rem;
    padding: 8px;
    font-weight: 600;
    /* border: 1px solid; */
    border-radius: 26px;
    background: transparent;
    border: 2px solid #6e6767;
}
.marksFilter select option {
    /* text-align: center !important; */
    /* background-color: red; */
    /* border: 2px solid purple; */
}

.marksContainer {
    /* border: 2px solid red; */
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 66vh;
}

.marksContainer table th {
    font-size: 2rem;
    padding: 10px 35px;
    /* margin: 20px; */
}

.marksContainer table tr {
    border-radius: 20px;
}

.marksContainer table td {
    font-size: 1.6rem;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgb(192, 190, 190);
}

.removeMarksBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}
.removeMarksBtn:hover {
    background-color: green;
    color: white;
}

/* Responsive code begin.. */

@media screen and (max-width: 1180px) {
    .marksFilter div {
        font-size: 1.3rem;
    }

    .marksFilter select {
        text-align: center;
        font-size: 1.3rem;
    }

    .marksContainer table {
        display: block;
        width: 90vw;
        overflow-x: scroll;
        /* display: none; */
    }
}

@media screen and (max-width: 1000px) {
    .marksFilter {
        height: auto;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 5px;
        /* border: 2px solid red; */
    }
    .marksFilter div,
    button {
        margin-bottom: 20px;
    }

    .marksFilter div,
    select {
        font-size: 1.5rem;
    }
    .marksContainer table th {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 470px) {
    .studentMarksHeading {
        font-size: 3.8rem;
    }
    .marksFilter div {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* margin-top: 10px; */
    }

    .marksFilter label {
        margin-bottom: 12px;
    }

    .marksFilter label {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .marksFilter select {
        text-align: center;
        font-size: 1.5rem;
    }
    .marksContainer table th {
        font-size: 1.8rem;
        /* color: red; */
    }
}

@media screen and (max-width: 430px) {
    .studentMarksHeading {
        font-size: 3.4rem;
    }
    .marksFilter select {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 370px) {
    .studentMarksHeading {
        font-size: 2.9rem;
    }
}
@media screen and (max-width: 330px) {
    .studentMarksHeading {
        font-size: 2.7rem;
    }
}
@media screen and (max-width: 300px) {
    .studentMarksHeading {
        font-size: 2.6rem;
    }
    .marksContainer {
        margin-bottom: 10px;
    }
}
