.dailogboxContainer {
    width: 550px;
    height: 350px;
    /* border: 2px solid brown; */
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(172, 172, 172);
    /* display: none; */
    flex-direction: column;
    /* display: flex; */
    /* margin-top: -400px; */
}



.dailogboxContainer button {
    font-size: 1.3rem;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;

}

.dailogboxContainer button:hover {
    background-color: green;
    color: white;
}