.dailogboxContainer {
    width: 550px;
    height: 350px;
    /* border: 2px solid brown; */
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(172, 172, 172);
    /* display: none; */
    flex-direction: column;
    /* display: flex; */
    /* margin-top: -400px; */
}

.dailogboxContainer h2 {
    text-align: center;
}



.dailogboxContainer button {
    font-size: 1.3rem;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;

}

.dailogboxContainer button:hover {
    background-color: green;
    color: white;
}
/* Responsive code begin */

@media screen and (max-width: 600px) {
    .dailogboxContainer {
        width: 500px;
    }
}

@media screen and (max-width: 540px) {
    .dailogboxContainer {
        width: 440px;
    }
}

@media screen and (max-width: 460px) {
    .dailogboxContainer {
        width: 360px;
    }
}
@media screen and (max-width: 400px) {
    .dailogboxContainer {
        padding: 20px 10px;
    }
    .dailogboxContainer {
        width: 320px;
    }
}
@media screen and (max-width: 350px) {
    .dailogboxContainer {
        width: 300px;
    }
    .studentContainer .dailogboxContainer input {
        width: 260px;
    }
}
@media screen and (max-width: 350px) {
    .dailogboxContainer {
        width: 280px;
    }
    .studentContainer .dailogboxContainer input {
        width: 240px;
    }
}