.mainQuestionContainer {
    width: 90%;
    margin-top: 5px;
    padding: 25px;
    box-shadow: 1px 1px 8px 1px rgb(184, 184, 183);
    border-radius: 20px;
    margin: auto;
    
    /* border: 2px solid brown; */
}

.mainQuestionContainer .question {
    display: inline;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 680;
    color: rgb(43, 43, 43);
}
.mainQuestionContainer .optionContainer {
    margin-top: 20px;
    margin-left: 100px;
    /* border: 2px solid green; */
}

.mainQuestionContainer .optionContainer ol li {
    list-style: upper-alpha;
    font-size: 1.4rem;
    margin-bottom: 20px;
    transition: 0.1s;
    cursor: pointer;
}

.mainQuestionContainer .optionContainer ol li label {
    margin-left: 5px;
    cursor: pointer;
}

.mainQuestionContainer .optionContainer ol li:hover {
    border-radius: 20px;
    /* background-color: rgb(36, 212, 36); */
    color: rgb(14, 151, 7);
    font-weight: 600;
}

.questionNavigationBtn {
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    /* border: 4px solid red; */
}

.questionNavigationBtn button {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 6px 18px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: purple;
    transition: 0.4s;
    box-shadow: 1px 1px 4px 3px rgb(188, 248, 68);
}
.questionNavigationBtn button:hover {
    background-color: rgb(51, 201, 51);
}

/* Responsive code begin */

@media screen and (max-width: 1250px) {
    .mainQuestionContainer {
        width: 96%;
    }
}

@media screen and (max-width: 885px) {
    .mainQuestionContainer {
        width: 98%;
    }
    .mainQuestionContainer .question {
        font-size: 1.3rem;
    }
    .mainQuestionContainer .optionContainer ol li {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 885px) {
    .mainQuestionContainer .optionContainer ol li {
        font-size: 1.26rem;
    }
}
@media screen and (max-width: 655px) {
    .mainQuestionContainer .optionContainer {
        margin-left: 50px;
    }
    .questionNavigationBtn {
        width: 85%;
    }
}
@media screen and (max-width: 445px) {
    .questionNavigationBtn {
        width: 90%;
    }
}
@media screen and (max-width: 425px) {
    .questionNavigationBtn {
        width: 95%;
    }
    .questionNavigationBtn button {
        font-weight: 550;
    }

    .mainQuestionContainer {
        box-shadow: 1px 1px 5px 3px rgb(237, 249, 255);
        margin-top: 17px;
    }


}

@media screen and (max-width : 340px) {
    .questionNavigationBtn {
        width: 99%;
    }
    .questionNavigationBtn button {
        font-size: 1.3rem;
        font-weight: 530;
    }
    .mainQuestionContainer .optionContainer {
        margin-left: 40px;
    }
    
}

@media screen and (max-width : 330px) {
    .mainQuestionContainer .question {
        font-size: 1.2rem;
    }
    .mainQuestionContainer .optionContainer ol li {
        font-size: 1.19rem;
    }
}
