.studentDetailContainer {
    flex-direction: column;
    width: 300px;
    /* border: 1px solid gray; */
    padding: 26px 20px;
    /* background-color: rgb(86, 178, 223); */
    border-radius: 20px;
    box-shadow: 1px 1px 2px 3px gray;
}
.studentDetailContainer .imgContainer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: magenta;
    margin-bottom: 3px;
}
.studentDetailContainer p {
    font-size: 1.4rem;
    font-weight: 550;
    text-transform: capitalize;
    padding: 2px;
    /* color: white; */
}

/* Responsive code begin */

@media screen and (max-width : 1250px) {
    .studentDetailContainer {
        width: 290px;
    }
}

@media screen and (max-width: 310px) {
    .studentDetailContainer {
        width: 270px;
    }
    .studentDetailContainer p {
        font: 1.29;
        font-weight: 530;
    }
}