.studentContainer {
    height: calc(100vh - 70px);
    background-color: rgb(161, 210, 247);
}

.studentLoginContainer {
    width: 550px;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: #219F94;
    /* position: relative;
    z-index: 10px; */
}

.studentLoginContainer div {
    margin: 10px;
}

.studentContainer h1 {
    color: white;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 2px solid white;
    border-radius: 4px;
}

.studentContainer .studentLoginContainer p {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-weight: 600;
}

.studentContainer .studentLoginContainer input {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    width: 300px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.dailogContainer {
    position: absolute;
    /* top: 0px; */
    height: calc(100vh - 70px);
    display: none;
}

/* Responsive code begin */

@media screen and (max-width: 600px) {
    .studentLoginContainer {
        width: 500px;
    }
}

@media screen and (max-width: 540px) {
    .studentLoginContainer {
        width: 440px;
    }
}

@media screen and (max-width: 460px) {
    .studentLoginContainer {
        width: 360px;
    }
}
@media screen and (max-width: 400px) {
    .studentLoginContainer {
        padding: 20px 10px;
    }
    .studentLoginContainer {
        width: 320px;
    }
}
@media screen and (max-width: 350px) {
    .studentLoginContainer {
        width: 300px;
    }
    .studentContainer .studentLoginContainer input {
        width: 260px;
    }
}
@media screen and (max-width: 350px) {
    .studentLoginContainer {
        width: 280px;
    }
    .studentContainer .studentLoginContainer input {
        width: 240px;
    }
}
